apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- deployment.yaml
- service.yaml
- gateway.yaml
- httproute.yaml
- tls.yaml

images:
- name: ghcr.io/vivekanandan-ks/wisecow-ksv-challenge
  newName: ghcr.io/vivekanandan-ks/wisecow-ksv-challenge
  newTag: main-8ec4523f6b041df92e5ce735c90e31e55da39c6f
